@charset "utf-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.sm_blk {
	font-family: Tahoma;
	font-size: 9px;
	color: #2b2a2a;
}
.md_blk {
	font-family: Tahoma;
	font-size: 11px;
	color: #2b2a2a;
}
.md_red {
	font-family: Tahoma;
	font-size: 11px;
	color: #ff0000;
}
.sm_white {
	font-family: Tahoma;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: underline;
}
.textfield {
	font-family: Tahoma;
	font-size: 9px;
	color: #2b2a2a;
	height: 15px;
	width: 95px;
	border: 1px solid #e1e1e1;
}
.textfield2 {
	font-family: Tahoma;
	font-size: 9px;
	color: #2b2a2a;
	height: 15px;
	width: 165px;
	border: 1px solid #e1e1e1;
}
a:link {
	color: #2b2a2a;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
}
a:active {
	color: #2b2a2a;
	text-decoration: none;
}.md_white {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
}
.BIG_blk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #2b2a2a;
}
.sm_red {
	font-family: Tahoma;
	font-size: 9px;
	color: #ff0000;
}
.textfield3 {
	font-family: Tahoma;
	font-size: 9px;
	color: #2b2a2a;
	height: 15px;
	width: 400px;
	border: 1px solid #e1e1e1;
}
.red_button {
	font-family: Tahoma;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #E00B0B;
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 18px;
	vertical-align: middle;
}
.textarea {
	font-family: Tahoma;
	font-size: 9px;
	color: #2b2a2a;
	width: 400px;
	border: 1px solid #e1e1e1;
}
.textfieldsmall {
	font-family: Tahoma;
	font-size: 9px;
	color: #2b2a2a;
	height: 15px;
	width: 50px;
	border: 1px solid #e1e1e1;
}
.blk_button {
	font-family: Tahoma;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #2B2A2A;
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 18px;
	vertical-align: middle;
}
